.controlWrap {
	display: none;
	margin: 15px auto;
	border: 1px solid transparent;
	button {
		background: none;
		border: none;
		outline: none;
	}
}

.cntrlBtn {
	width: 75px;
	height: 75px;
	margin: 20px auto;
}

.startTheShow {
	transition: all 0.6s;
	background-image: url("../imgs/play.png");
	filter: drop-shadow(10px 10px 10px rgba(20,20,20,0.7));
	animation: lightshow 2s ease-out infinite;
	&:hover {
		//filter: drop-shadow(20px 20px 10px rgba(10,10,10,0.7)) hue-rotate(180deg);
		
		animation: none;
	}
}

@keyframes lightshow {
	0% {filter: drop-shadow(10px 10px 10px rgba(10,10,10,0.7)) hue-rotate(0deg);}
	50% {filter: drop-shadow(20px 20px 10px rgba(10,10,10,0.7)) hue-rotate(180deg);}
	100% {filter: drop-shadow(10px 10px 10px rgba(10,10,10,0.7)) hue-rotate(360deg);}
}



