.imgWrap {
	width: 90%;
	max-width: 768px;
	max-height: 768px;
	margin: 25px auto;
	
	img {
		width: 100%;
		
		border-radius: 3px;
		@include tablet {
			box-shadow: 10px 10px 10px rgba(10,10,10,0.7);
			border: 1px solid rgba(10,10,10,0.9); 
		}
		
		@include desktop {
			//margin-top: -460px;
		}
	}
}

.textWrap {
	.fancyBorder1, .fancyBorder2 {
		max-width: 500px;
		min-width: 240px;
		height: 50px;
		filter: drop-shadow(10px 10px 5px rgba(10,10,10,0.7)) hue-rotate(90eg) sepia(100%);
	}
	
	.fancyBorder2 {
		margin-left: 10px;
		transform: rotate(180deg);
		
		
		@include tablet {
			max-width: 600;
			height: 60px;
			margin-top: 25px;
		}
	}
}